# Recipe Selector Agent Dependencies

# Agent/AI
# anthropic==<version>  # When using Claude API directly

# Data Processing
# pandas==2.0.0
# requests==2.31.0

# Utilities
python-dotenv==1.0.0

# Development
pytest==7.0.0
black==26.3.1

#Gmail API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
