# Recipe Selector Agent Dependencies

# Agent/AI
# anthropic==<version>  # When using Claude API directly

# Scraping
playwright>=1.44

# Data Modelling
pydantic>=2.0

# Data Processing
# pandas==2.0.0

# Utilities
python-dotenv==1.0.0

# Development
pytest==7.0.0
black>=26.3.1

#Gmail API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
